{
    auto_https off
    log {
        output stdout
        format console
    }
}

:80 {
    root * /srv

    encode gzip

    header *.js "Content-Type: application/javascript"
    header *.css "Content-Type: text/css"
    header *.svg "Content-Type: image/svg+xml"
    header *.png "Content-Type: image/png"
    header *.ico "Content-Type: image/x-icon"

    header *.js Cache-Control "public, max-age=31536000, immutable"
    header *.css Cache-Control "public, max-age=31536000, immutable"
    header *.svg Cache-Control "public, max-age=31536000, immutable"
    header *.png Cache-Control "public, max-age=31536000, immutable"
    header *.ico Cache-Control "public, max-age=31536000, immutable"

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    @static {
        path *.js *.css *.svg *.png *.ico *.woff *.woff2 *.ttf *.eot
    }
    file_server @static

    try_files {path} {path}/ /index.html
}
